.bike{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 0px;
  margin: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: rgb(27, 119, 150);
  font-weight: bold;
}

.bike .id{
  border: 1px solid lightblue;
  padding: 10px 20px;
  width: 20px;
  font-weight: bold;
  color: grey;
  border-radius: 30px;
}